@media(max-width:1919px) {
    .hero__container__btn {
        width: 66%;
    }

    .form__content__btn {
      padding: 10px 20px;
    }
}

@media(max-width:1710px) {

    /*hero*/

    .menu__item_impress {
        width: 15%;
    }

    .hero__input__search {
      margin-right: 2%;
      margin-left: 13%;
    }

    .hero__container__btn {
      width: 72%;
    }

    .header__nav__items.active:nth-child(1) {
      text-align: left;
      margin-top: 10.5%;
    }

    /*aboutUs*/

    .aboutUs__content__title {
        margin-left: 5.3%;
    }

    .aboutUs__content__descr {
        margin-left: 5.3%;
    }

    /*gallery*/

    .gallery__information__page {
      left: 45.8%;
      top: 268%;
    }

    /*catalog*/

    .catalog__last__accordion__title {
      width: 37%;
    }

    .accordion__last__icon {
      margin-left: 57%;
    }

    /*form*/

    .form__content__btn {
        min-height: 45%;
        margin-top: 66px;
        padding: 10px 15px;
    }

    .form__contents__text {
      margin-left: 2.3%;
    }

    .form__information {
      width: 54%;
      margin-left: 3%;
    }

    .form__child__name {
      height: 17%;
    }

    .form__child__number {
      height: 17%;
    }
}

@media(max-width:1560px) {

  .hero__input__search {
    margin-left: 7%;
  }

  .events__text__btn {
    width: 100%;
  }

}

@media(max-width:1399px) {

    /*header*/
    .hero__content__selects {
        display: none;
    }

    .header__nav__items {
      display: none;
    }

    .header__nav__items:last-child {
      display: none;
    }

    /*input__search*/  
    .btn-reset {
      padding: 0;
      cursor: pointer;
      border: none;
      background-color: transparent;
    }

    .form-content--1920 {
      display: inherit;
    }

    .form-content__open {
      transition-property: opacity;
      transition: .2s ease-in-out;
    }

    .form-content__image--768 {
      display: none;
    }
    .form-content__image--320 {
      display: none;
    }

    .form-top {
      position: absolute;
      top: 4%;
      right: 4.2%;
      display: flex;
      align-items: center;
      opacity: 0;
      transform: translateY(100%);
      transition-property: transform, opacity;
      transition: .2s ease-in-out;
    }

    .form-top__submit {
      margin-right: 10px;
    }

    .top-submit__image--768 {
      display: none;
    }

    .top-submit__image--320 {
      display: none;
    }

    .form-top__input {
      width: 218px;
      color: var(--white-color);
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.85);
      background-color: black;
      margin-right: 11px;
    }

    .top-close__image--big {
      display: none;
    }

    .form-content__open.active {
      opacity: 0;
    }

    .form-top.form-top__active {
      top:1%;
      opacity: 1;
      transform: translateY(0);
      margin-top: 30px;
    }

    .form-top__input::placeholder {
      color: var(--black);
    }

    /*Burger*/

    .burger {
        margin-right: auto;
        position: relative;
        display: block;
        text-align: left;
        width: 50px;
        height: 34px;
        
        background-color: var(--black);
        border: none;
    }

    .burger__line {
      position: absolute;
      left: 5%;
      width: 25px;
      height: 3px;
      transform: translateY(-50%);
      background-color: var(--white);
    }

    .burger__line:nth-child(1) {
      bottom: 1px;
      height: 4px;  
    }

    .burger.active .burger__line:first-child {
      position: absolute;
      width: 37px;
      transform: rotate(45deg);
      bottom: 20px;
      transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
      z-index: 1000;
    }
  
    .burger__line:nth-child(2) {
      top: 47%;
      height: 4px;
      width: 29px;
      transform: translateY(-50%);
    }

    .burger.active .burger__line:nth-child(2) {
      opacity: 0;
    }
  
    .burger__line:nth-child(3) {
      top: 5px;
      height: 4px;
      width: 37px;
    }

    .burger.active .burger__line:nth-child(3) {
      position: absolute;
      top: 10px;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      transform-origin: center;
      z-index: 1000;
    }

    .header__logo {
      padding-left: 0%;
      margin-right: auto;
    }
    
    .nav {
    position: fixed;
    display: block;
    z-index: 15;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--black);
    padding-top: 37px;
    width: 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    }

    .nav.active {
    opacity: 1;
    transform: translateX(0);
    }

    .header__nav__items.active {
      display: block;
      position: relative;
      width: 10%;
      left: 1.5%;
      margin-bottom: 27px;
      text-align: left;
      height: auto;
    }

    .header__nav__items.active:nth-child(1) {
      margin-top: 70px;
  }

    .header__nav__item {
      font-weight: 600;
      font-size: 24px;
      line-height: 38px;
    }
    
    .header__nav__items:last-child {
      width: 225px;
      margin: 0;
      top: 10%;
      left: 52px;
    
      border-radius: 100px;
    }

    .header__office__link {
      position: relative;
      width: 100%;
      justify-content: center;
      padding-top: 8%;
      height: 38px;
      border-radius: 100px;
      padding-left: 11px;

      font-weight: 600;
      font-size: 18px;
      line-height: 25px;

      border: 2px solid var(--hover__violet);
    }

    .header__office__icon {
      left: 32%;
      top: 39%;
    }

    .header__office__link::after {
      opacity: 0;
      content: '';
      position: absolute;
      top: 51%;
      left: -3.5%;
      width: calc(100% + 14px);
      height: calc(100% + 14px);
      transform: translateY(-50%);
      transition: transform 0.3s ease-in-out;
      
      border: 2px solid var(--active__violet);
      border-radius: 100px;
    }

    .header__office__link:focus {
      background: none;
    }

    .header__office__link:hover {
      background-color: var(--violet);
      color: var(--white);
      border: 2px solid var(--violet);
    }

    .header__office__link:active {
      border: 2px solid var(--outline__color);
      background-color: var(--active__violet);
    }
  
    .header__office__link:focus::after {
      opacity: 1;
    }
  
    .header__office__link:hover::after {
      opacity: 0;
    }

    .header__logo.active {
      display: none;
    }

    .burger.active {
      margin-top: 38px;
      margin-bottom: 30px;
      width: 4%;
    }

    .burger:focus 
    .burger__line {
      background-color: var(--violet);
    }

    .burger:hover 
    .burger__line {
      background-color: var(--hover__violet);
    }

    .burger:active 
    .burger__line {
      background-color: var(--active__violet);
    }

    /*hero*/

    .swiper__slide__image {
      height: 95%;
    }

    .mySwiper {
      height: calc(100% + 100px);
    }

    .hero__contents__text {
      width: 74%;
      margin-top: 10%;
      margin-left: 4.8%;
    }

    .hero__content__descr {
      margin-top: -12px;
      margin-bottom: 20.6%;
    }

    .hero__container__btn {
      width: 42%;
    } 

    /*aboutUs*/

    .aboutUs__container {
      margin-bottom: 6.7%;
    }

    .aboutUs__content__title {
      margin-left: 5%;
      margin-top: 7.7%;
    }

    .aboutUs__content__descr {
      width: 90%;
      margin-top: 1.7%;
      margin-left: 5%;
    }

    .hero__content__btn {
      padding: 22px 35px;
    }

    /*gallery*/

    .gallery__container__contents {
      padding-top: 1.6%;
      margin-right: 7%;
      margin-left: 5%;
    }

    .gallery__content__title {
      margin-top: 25%;
      margin-bottom: 7%;
    }

    .gallery__select__list {
      width: 108%;
    }

    .gallery__select__list .gallery__select__item {
      padding: 2px 15px;
    }

    .gallery__select {
      min-width: 256px;
    }

    .gallery__list__input {
      margin-bottom: 5%;
    }

    .gallery__swiper__container {
      width: 653px;
      margin-top: 10.3%;
      margin-bottom: 7.4%;
    }

    .gallery__btn__navigation {
      margin-left: 0;
    }

    .gallery__slides__container {
      margin-left: 0;
      height: 320px;
      margin-right: 8.5%;
    }

    .customCheckbox + label {
      top: -13px;
    }

    .customCheckbox + label::before {
      left: -26px;
      top: 4px;
    }

    .gallery__btn_prev {
      left: 0px;
    }

    .gallery__information__page {
      left: 33%;
      top: 263%;
      width: 67%;
    }

    .gallery__information__text {
      margin-left: 50px;
    }

    .gallery__information__icon {
      margin-top: 20px;
      margin-left: 85%;
    }

    .gallery__information__descr {
      width: 74%;
    }

    /*catalog*/

    .catalog__artist__medium {
      padding-top: 2px;
      display: block;
    }
    
    .catalog__artist__medium_two {
      padding-left: 67px;
    }

    .catalog__artist {
      display: none;
    }

    .catalog__content__title {
      margin-top: 7.9%;
      margin-left: 5%;
    }

    .catalog__content__descr {
      width: 90%;
      margin-top: 1.5%;
      margin-left: 5%;
    }

    .catalog__content__image {
      margin-top: 8.1%;
      margin-left: 9.9%;
    }

    .catalog__image {
      width: 95%;
      height: 274px;
    }

    .catalog__content__autor {
      margin-left: 9.8%;
    }

    .catalog__cart__title {
      margin-top: 6.5%;
    }

    .catalog__cart__birthday  {
      margin-top: 1.5%;
      margin-left: 0%;
    }

    .catalog__cart__descr {
      margin-top: 3.6%;
      width: 97%;
    }

    .catalog__contents__accordion {
      margin-top: 1.7%;
      margin-left: 2.3%;
      width: 42.8%;
    }

    .catalog__last__accordion__title {
      width: 29%;
    }

    .accordion__last__icon {
      margin-left: 60%;
    }

    .catalog__accordion__title {
      width: 90%;
    }

    .catalog__accordion__item svg {
      right: 0px;
      top: 51%;
    }

    .ui-accordion .ui-accordion-header {
      padding-top: 41px;

    }

    .ui-accordion .ui-accordion-content {
      padding: 25px 0px;
    }

    .none__left {
      width: 189px;
      height: 130px;
      margin-top: 0px;
    }

    .none__img {
      width: 92%;
      height: 88%;
    }

    .none__right {
      width: 50%;
    }

    .none__descr {
      width: 100%;
    }

    .none__title {
      font-size: 24px;
    }

    /*events*/
    .events__content__title {
      margin-left: 5%;
      margin-top: 8.1%;
    }

    .events__swiper {
      margin-right: 2.9%;
      margin-top: 1.5%;
      margin-left: 5%;
      padding-left: 0;
    }

    .events__pagination {
      display: block;
      bottom: 5px;
      left: -19px;
      width: 100%;
    }

    .events__contentCart  {
      width: 100%;
    }

    .events__contentCart__text {
      padding: 14px 31px 42px 34px;
      padding-top: 14px;
      padding-bottom: 50px;
    }

    .events__contentCart__location {
      margin-bottom: 3px;
    }

    .events__image  {
      height: 197px;
    }

    .events__text__title {
      font-size: 21px;
      line-height: 33px;
      width: 240px;
    }

    .events__text__descr {
      margin-bottom: 17px;
    }

    .swiper-pagination-clickable .swiper-pagination-bullet {
      cursor: pointer;
      width: 10px;
      height: 10px;
      background: #666666;
    }

    .swiper-horizontal>.swiper-pagination-bullets 
    .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets 
    .swiper-pagination-bullet{
      margin-left: -4px;
      margin-right: 19px;
    }

    .events__btn__next {
      display: none;
    }

    .events__btn__prev {
      display: none;
    }

    .events__text__btn::after {
      left: 8px;
      width: 87%;
    }

    /*project*/

    .project__swiper {
      height: 127px;
      margin-top: 25px;
      margin-bottom: 70px;
      margin-left: 10%;
      margin-right: 10%;
      padding-left: 0%;
      padding-right: 0%;
    }

    .project__content__title {
      margin-top: 6.5%;
      margin-left: 5%;
      margin-bottom: 1%;
    }

    .project__content__descr {
      margin-left: 5%;
      width: 90%;
    }

    .project__partner  {
      margin-top: 1.7%;
      margin-left: 4.8%;
    }

    .project__btn__prev {
      top: -55px;
    }

    .project__btn__next {
      top: -55px;
    }

    .projects-slide {
      min-height: 128px;
    }

    .projects-slide__image1 {
      width: 235px;
      height: 52px;
    }

    .projects-slide__image2 {
      width: 305px;
      height: 49px;
    }

    .projects-slide__image3 {
      width: 229px;
      height: 54px;
    }
    
    .projects-slide__image4 {
      width: 105px;
      height: 73px;
    }

    .projects-slide__image5 {
      width: 148px;
      height: 73px;
    }

    .projects-slide__image6 {
      width: 215px;
      height: 59px;
    }

    .projects-slide__image7 {
      width: 158px;
      height: 69px;
    }

    .projects-slide__image8 {
      width: 215px;
      height: 59px;
    }

    .projects-slide__image9 {
      width: 196px;
      height: 53px;
    }

    /*form*/

    .form__container {
      flex-direction: column;
    }

    .form__contents__text {
      margin-top: 4%;
      /* margin-bottom: 0%; */
      margin-left: 4.8%;
    }

    .form__content__title {
      margin-bottom: 1.5%;
      letter-spacing: 0.40px;
    }

    .form__content__descr {
      font-size: 14px;
      line-height: 19px;
    }

    .form__input__container {
      margin-right: 1.5%;
    }

    .form__child__name {
      width: 90%;
      margin-left: -3%;
      padding: 13px 27px;
      margin-bottom: 31%;
    }
    
    .form__child__number {
      width: 90%;
      padding: 13px 27px;
      margin-bottom: 31%;
    }

    .form__name__container {
      margin-right: 4%;
    }

    .form__content__btn {
      margin-top: 9px;
      margin-left: 3%;
      padding: 11px 32px;
      margin-bottom: 8%;
      width: 37.5%;
    }

    .form__social__title  {
      margin-top: 0.5%;
      margin-left: 2.7%;
    }

    .form__social__link {
      width: 91%;
      margin-left: 2.2%;
      margin-top: -7.2%;
    }

    .form__social__icon {
      margin-top: 0.7%;
      margin-left: 2.8%;
      margin-bottom: 4%;
    }

    .form__link__telegram {
      margin-left: 2%;
    }

    .form__information {
      padding-right: 5%;
      padding-left: 2%;
      width: 90%;
    }

    .form__low__container {
      width: 56%;
    }

    /*footer*/

    .footer__container {
      padding-top: 4.1%;
      padding-left: 3.8%;
    }

    .footer__logo {
      margin-left: 1%;
      margin-top: 1%;
    }

    .footer__social__vk {
      margin-right: 27%;
    }

    .footer__social__ok {
      margin-left: 0%;
    }

    .footer__social__link {
      width: 60px;
      height: 60px;
      margin-left: 62%;
      margin-top: 0%;
    }

    .form__icon {
      width: 100%;
      height: 100%;
      margin-top: 0px;
    }

    .footer__social__page {
      width: 60px;
      height: 60px;
    }
}

@media(max-width:1010px) {

  .form-content__image--1024 {
    display: none;
  }

  .form-content__image--768 {
    display: block;
  }

  .form-top__input {
    width: 650px;
  }

  .header__logo_active {
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  .burger_active {
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }
  /*hero*/

  .hero__contents__text {
    margin-top: 12.7%;
    margin-left: 6.8%;
    width: 93%;
  }

  .hero__container__btn {
    width: 47%;
  }

  .hero__content__descr {
    margin-top: -8px;
    margin-bottom: 21.8%;
  }
  /*aboutUs*/

  .aboutUs__content__title {
    margin-left: 6.5%;
    margin-top: 10.3%;
  }

  .aboutUs__content__descr {
    margin-top: 2.2%;
    margin-left: 6.5%;
    width: 87%;
  }

  .aboutUs__container {
    margin-bottom: 9%;  
  }

  /*gallery*/

  .gallery__container {
    flex-direction: column;
  }

  .gallery__container__contents {
    padding-right: 6.5%;
    margin-left: 6.6%;
  }

  .gallery__content__title {
    margin-top: 25%;
    margin-bottom: 5.9%;
  }

  .gallery__mySwiper {
    width: 100%;
    height: 330px;

    padding-left: 3%;
    padding-top: 13.1%;
    margin-bottom: 12.8%;
  }

  .gallery__btn_prev {
    left: 9px;
    top: 49px;
  }

  .gallery__pagination {
    top: 8.2%;
    margin-left: 0;
    left: 8.5%;
  }

  .gallery__information__page {
    left: 14%;
    top: 430%;
    width: 86%;
  }

  .gallery__container__block {
    width: 102%;
  }

  .gallery__select__head {
    width: 89%;
    margin-bottom: 21%;
  }

  .gallery__swiper__container {
    margin-top: 2.3%;
    margin-left: 6%;
    margin-bottom: 10.4%;
  }

  .gallery__slides__container {
    margin-right: 0%;
    height: 332px;
  }

  .gallery__select__head::after { 
    right: 17px;
    bottom: 43%;
  }

  .gallery__select__list {
    width: 100%;
  }

  /*catalog*/

.catalog__cart__title {
  margin-top: 2.8%;
  margin-left: 0.5%;
}

  .catalog__content__descr {
    width: 89%;
    margin-top: 1.9%;
    margin-left: 6.6%;
  }

  .catalog__autor__catalog {
    flex-direction: column-reverse;
  }

  .catalog__contents__accordion {
    margin-top: -1.7%;
    width: 87%;
    margin-left: 6.5%;
  }

  .catalog__contents__cart {
    width: 100%;
  }

  .catalog__artist__medium {
    display: none;
  }

  .catalog__artist {
    display: block;
    margin-right: 0;
  }

  .catalog__artist_one {
    margin-right: 9%;
  }

  .catalog__artist_two {
    margin-right: 10%;
  }

  .catalog__accordion__delir {
    margin-top: -0.1%;
  }

  .accordion__last__icon {
    margin-left: 3%;
}

  .catalog__artist__two {
    padding-left: 6%;
  }

  .catalog__artist__three {
    padding-left: 7%;
  }

  .catalog__content__image {
    margin-top: 6%;
    margin-left: 6.5%;
    margin-right: 4%;
  }

  .catalog__image {
    height: 420px;
    width: 97%;
  }

  .catalog__content__autor {
    margin-left: 6%;
  }

  .catalog__cart__title {
    margin-top: 2.5%;
    margin-left: 0.5%;
  }

  .catalog__content__title {
    margin-top: 10.5%;
    margin-left: 6.8%;
  }

  .catalog__cart__birthday {
    margin-top: 1.3%;
    margin-left: 0.7%;
    margin-bottom: 1%;
  }

  .catalog__cart__descr {
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 94%;
  }

  .catalog__accordion__item svg {
    right: 0px;
    top: 51%;
  }

  .ui-accordion .ui-accordion-content {
    padding: 27px 0px;
  }

  .none__left {
    width: 275px;
    height: 189px;
  }

  .none__img {
    padding: 12px;
  }

  /*events*/
  
  .events__swiper {
    margin-right: 4.7%;
    margin-top: 2.5%;
    margin-left: 6%;
    padding-right: 2%;
  }

  .events__content__title {
    margin-left: 6.6%;
    margin-top: 10.4%;
  }

  .events__text__adress {
    margin-left: 41%;
    margin-top: 4%;
    margin-bottom: 3px;
  }

  .events__contentCart__text {
     padding-left: 11.5%;
     margin-left: 0;
     min-height: 390px;
  }

  .events__text__title {
    margin-bottom: 4px;
    letter-spacing: 0;
    width: 96%;
  }

  .events__container__btn {
    width: 35%;
  }

  .events__text__btn {
    margin-left: 1%;
  }

  .events__adress__two {
    margin-left: 69%;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, 
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 19px;
    margin-bottom: 2px;
  }

  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, 
  .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 102%;
  }

  .events__text__btn::after {
    width: 80%;
  }
  /*project*/

  .project__content__title {
    margin-left: 6.7%;
    padding-right: 4.7%;
    margin-bottom: 2.6%;
    margin-top: 8%;
  }

  .project__content__descr {
    margin-left: 6.5%;
    padding-right: 4.7%;
    width: 87%;
  }

  .project__partner {
    margin-top: 3.5%;
    margin-left: 6.8%;
  }

  .project__buttons {
    width: 71.6%;
  }

  .project__btn__prev {
    top: -43px;
    left: -43px;
  }

  .project__btn__next {
    top: -43px;
  }

  .project__swiper {
    height: 106px;
    margin-top: 29px;
    margin-bottom: 75px;
    margin-left: 13.2%;
    margin-right: 13.2%;
    position: static;
  }

  .projects-slide {
    min-height: 106px;
  }

  .projects-slide__image1 {
    width: 210px;
    height: 52px;
  }

  .projects-slide__image2 {
    width: 217px;
    height: 38px;
  }

  .projects-slide__image3 {
    width: 195px;
    height: 45px;
  }

  .projects-slide__image4 {
    width: 105px;
    height: 73px;
  }

  .projects-slide__image5 {
    width: 121px;
    height: 59px;
  }

  .projects-slide__image6 {
    width: 194px;
    height: 47px;
  }

  .projects-slide__image7 {
    width: 143px;
    height: 62px;
  }

  .projects-slide__image8 {
    width: 176px;
    height: 48px;
  }

  .projects-slide__image9 {
    width: 182px;
    height: 49px;
  }

  .projects-swiper-main {
    padding: 0 36px;
  }
  
  /*form*/

  .form__content__title {
    letter-spacing: 0;
    margin-bottom: 1%;
    margin-top: 0%;
    margin-left: 0.5%;
  }

  .form__information {
    height: 125px;
    flex-direction: column;
  }

  .form__contents__text {
    margin-top: 5.5%;
    margin-left: 6.1%;
  }

  .form__low__container {
    width: 100%;
    margin-top: 2%;
    height: 77px;
  }

  .form__input__container {
    width: 43%;
    height: 48px;
  }

  .form__child__name {
    width: 90%;
    margin-left: 2%;
    height: 43%;
    margin-bottom: 0;
  }

  .form__child__number {
    width: 90%;
    height: 90%;
    margin-bottom: 0%;
  }

  .form__name__container {
    margin-right: 5%;
  }

  .form__content__btn {
    width: 46%;
    min-height: 40%;
    margin-top: 12px;
    margin-left: 1.5%;
    padding: 11px 25px;
  }

  .form__social__link {
    margin-left: 4%;
    margin-top: 1%;
  }

  .form__link__telegram {
    margin-left: 3%;
  }

  .form__social__icon {
    margin-bottom: 5.5%;
    margin-top: 0.5%;
  }

  .form__information {
    padding-right: 2%;
    flex-direction: column;
  }

  .social__link__title {
    margin-top: 0%;
    letter-spacing: -0.5px;
  }

  /*footer*/

  .footer__logo {
    margin-top: 1.7%;
  }

  .footer__container {
    padding-top: 5.2%;
    padding-left: 5%;
    height: 100%;
    padding-bottom: 42px;
  }

  .footer__social__link {
    margin-left: 48.5%;
  }

  .footer__social__vk {
    margin-right: 36%;
  }

  .footer__social__ok {
    margin-left: 0%;
  }
}

@media(max-width:767px) {

  .swiper__slide__image {
    height: 90%;
  }

  .burger {
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }

  .burger_active {
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  .header__logo {
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }

  .header__logo_active {
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  .form-top {
    width: 90%;
  }

  .form-top__input {
    width: 680px;
  }

  .form-top.form-top__active {
    margin-top: 0px;
  }

  .top-submit__image--1024 {
    display: none;
  }
  
  .top-submit__image--768 {
    display: block;
    margin-left: 15px;
  }

  .top-close__image--big {
    display: block;
    transform: translateY(-3px);
    margin-top: 25px;
  }

  .top-close__image--small {
    opacity: 0;
  }
  /*hero*/

  .hero__contents {
    padding-top: 10%;
  }


  .hero__content__title {
    margin-bottom: 20px;
    text-align: center;

    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .hero__content__descr {
    text-align: center;
    width: 100%;
  }

  .hero__container__btn {
    width: 76%;
    margin-left: 12%;
    text-align: center;
  }

  .hero__contents__text {
    margin-top: 12.7%;
    margin-left: 5%;
    width: 90%;
  }

  /*gallery*/

  .customCheckbox + label {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  .gallery__pagination {
    top: 89.2%;
    margin-left: 0;
    left: 46.5%;
  }

  .gallery__btn_prev {
    left: 61%;
    top: 92%;
  }

  .gallery__swiper__container {
    width: 90%;
  }

  /*events*/

  .events__text_adress {
    margin-left: 47%;
    width: 49%;
    margin-bottom: 7%;
  }


  /*catalog*/

  .catalog__artist_two {
    padding-left: 2%;
  }

  .catalog__artist_three {
    padding-left: 2%;
  }

  .events__image {
    height: 200px;
  }

  .events__text__adress {
    margin-left: 39%;
  }

  .events__adress__two {
    margin-left: 66%;
  }

  .catalog__image {
    height: 317px;
  }

  /*form*/

  .form__information {
    width: 91%;
    height: 10%;
  }

  .form__content__btn {
    display: none;
  }

  .form__small__btn {
    display: block;
    position: relative;
    width: 26%;
    padding: 12px 35px;
    margin-top: 9%;
    margin-left: 3%;

    font-family: "OpenSans";
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    
    outline: none;
    background: none;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    color: #9D5CD0;
  }

  .form__small__btn::after {
    opacity: 0;
    content: '';
    position: absolute;
    top: 50%;
    left: -5%;
    width: calc(100% + 14px);
    height:calc(100% + 12px);
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;

    border: 2px solid var(--order);
    border-radius: 100px;
  }

  .form__small__btn:focus::after {
    opacity: 1;
  }

  .form__small__btn:hover::after {
    opacity: 0;
  }

  .form__small__btn:hover {
    background-color: var(--violet);
    color: var(--white);
    cursor: pointer;
  }

  .form__small__btn:active {
    border: 2px solid var(--outline__color);
    background-color: var(--active__violet);
    cursor: pointer;
  }

  .form__low__container {
    width: 100%;
    margin-top: 4%;
    flex-direction: column;
  }

  .form__input__container {
    width: 100%;
    margin-bottom: 3%;
  }

  .form__child__name {
    width: 88%;
  }

  .form__child__number {
    width: 88%;
    margin-left: 2%;
  }

  .form__social__link {
    margin-left: 0%;
    padding-left: 5%;
  }

  .social__link__title {
    margin-left: 1.7%;
  }

  /*footer*/

  .footer__social__link {
    margin-left: 31.5%;
  }
}

@media(max-width:577px) {
  .form-content__image--768 {
    display: none;
  }

  .form-content__image--320 {
    display: block;
  }

  .top-close__image--big {
    display: none;
  }

  .top-close__image--small {
    opacity: 1;
  }

  .top-submit__image--768 {
    display: none;
  }

  .top-submit__image--320 {
    display: block;
  }

.header__contents {
  padding: 15px;
}

.form-top.form-top__active {
  top: 2%;
}

.burger {
  width: 30px;
}

/*gallery*/

.gallery__btn_prev {
  left: 32%;
}
}

@media(max-width:575px) {
.header__contents {
    height: 45px;
}

.burger.active {
  margin-left: 12px;
  margin-top: 11px;
  margin-bottom: 30px;
  width: 9%;
}

.burger__line:nth-child(1) {
  bottom: 9px;
  height: 2px;
  width: 9px;
}

.burger__line:nth-child(2) {
  top: 45%;
  height: 2px;
  width: 15px;  
}

.burger__line:nth-child(3) {
  top: 7px;
  height: 2px;
  width: 25px;
}

.burger.active .burger__line.active:first-child {
  width: 20px;
}

.burger.active .burger__line.active:last-child {
  width: 20px;
}

.burger.active .burger__line:first-child {
  width: 26px;
  bottom: 22px;
}

.header__office__link {
  padding-top: 8%;
}

.header__nav__item {
  font-size: 16px;
  line-height: 32px;
}

.header__office__link::after {
  left: -5%;
}

.header__nav__items.active:nth-child(1) {
  width: 20%;
  margin-left: 2.7%;
}

.header__nav__items.active {
  margin-left: 2.7%;
  width: 25%;
  margin-top: 0.2%;
  background: none;
}

.header__nav__items:last-child {
  width: 45%;
  top: 2%;
  left: 1%;
}

.header__office__link {
  font-size: 12px;
  line-height: 16px;
}

.header__office__link.active {
  height: 24px;
}

.nav.active {
  background: rgba(0, 0, 0, 0.9);
}

/*hero*/

.swiper__slide__image {
  height: 80%;
}

.hero__contents {
  min-height: 18%;
  padding-bottom: 10%;
}

.hero__contents__text {
  margin-top: 0%;
}

.hero__content__title {
  margin-bottom: 10px;
}

.hero__content__descr {
  width: 98%;
  margin-left: 1%;
  margin-bottom: 17.4%;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.hero__container__btn {
  width: 75%;
  margin-left: 13%;
}

.hero__content__btn {
  font-size: 12px;
  line-height: 16px;
  padding: 11px 20px;
}

.hero__content__btn::after {
  top: -14%;
  width: calc(100% + 7px);
  height: calc(100% + 7px);
}
 

/*aboutUs*/

.aboutUs__content__title {
  font-size: 28px;
  line-height: 38px;
  margin-left: 4.5%;
  margin-top: 16%;
}

.aboutUs__content__descr {
  margin-top: 3.8%;
  margin-left: 4.5%;
  width: 91%;
  letter-spacing: -1.1px;
  line-height: 28px;
}

.aboutUs__container {
  margin-bottom: 12.8%;
}

/*gallery*/

.gallery__container__contents {
  width: 91%;
  margin-left: 4%;
}

.gallery__select {
  width: 98%;
  margin-left: 1%;
}

.gallery__select__head {
  margin-bottom: 15.5%;
}

.customCheckbox + label {
  margin-left: 8px;
  top: -15px;
}

.customCheckbox + label::before {
  left: -24px;
  top: 6px;
}

.gallery__swiper__container {
  display: flex;
  flex-direction: column-reverse;
}

.gallery__content__descr {
  margin-bottom: 6px;
}

.gallery__content__title {
  font-size: 28px;
  line-height: 38px;
  margin-top: 15.5%;
  margin-bottom: 3.8%;
}

.gallery__list__input {
  margin-bottom: 0%;
}

.gallery__slides__container {
  height: 370px;
  width: 100%;
  margin-top: 1%;
}

.gallery__btn__navigation {
  margin-left: 25.5%;
  margin-top: 7.7%;
  margin-bottom: 5.1%;
  width: 73%;
}

.gallery__test__prev {
  margin-right: 5px;
}

.gallery__test__next {
  margin-left: 5px;
}

.gallery__swiper__container {
  margin-left: 5%;
}

.gallery__btn_prev {
  left: 27%;
  top: 96%;
}

.gallery__pagination {
  width: 35%;
}

.gallery__information__icon {
  position: absolute;
  top: 0%;
  left: -3%;
  z-index: 10000;
}

.gallery__information__page {
  position: relative;
  flex-direction: column;
  left: 11%;
  top: 120%;
  width: 90%;
}

.gallery__information__text {
  margin-left: 15px;
  margin-top: 15px;
  width: 100%;
}

.gallery__information__title {
  margin: 0;
}

.gallery__select__list {
  width: 100%;
}

/*catalog*/

.catalog__content__title {
  font-size: 28px;
  line-height: 38px;
  margin-top: 16%;
  margin-left: 5%;
  margin-bottom: 1%;
}

.catalog__content__descr {
  display: none;
}

.catalog__accordion__item svg {
  width: 30px;
  height: 30px;
  right: -3px;
  top: 66%;
}

.catalog__contents__accordion {
  margin-top: -1.7%;
  width: 90%;
  margin-left: 4.5%;
}

.catalog__accordion__title {
  font-size: 18px;
  line-height: 32px;
  margin-top: 5px;
}

.ui-accordion .ui-accordion-header {
  padding-top: 14px;
  padding-bottom: 20px;
}

.ui-accordion .ui-accordion-content {
  padding: 20px 0px;
}

.catalog__accordion__delir {
  flex-direction: column;
  margin-top: -0.5%;
}

.catalog__artist_two {
  padding-left: 0%;
}

.catalog__artist_three {
  padding-left: 0%;
}

.catalog__content__image {
  margin-top: 15.8%;
  width: 93.5%;
  margin-left: 4.5%;
}

.catalog__image {
  height: 181px;
}

.catalog__cart__title {
  margin-top: 6.3%;
}

.catalog__content__autor {
  margin-left: 4%;
}

.catalog__cart__birthday {
  margin-top: 2.6%;
  letter-spacing: 0.5px;
}

.catalog__cart__descr {
  margin-top: 4.4%;
}

.none__left {
  width: 90px;
  height: 130px;
}

.none__img {
  padding: 6px;
  width: 82%;
}

.none__title {
  font-size: 18px;
}

.none__right {
  width: 59%;
}

/*events*/

.events__content__title {
  font-size: 28px;
  line-height: 38px;
  margin-left: 4.8%;
  margin-top: 15.8%;
}

.events__contentCart__text {
  padding-left: 6.5%;
  width: 90%;
  min-height: 384px;
}

.events__text__btn {
  margin-left: 0%;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 17px;
  left: 7px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 19px;
}

.events__text__adress {
  margin-left: 32%;
  width: 67%;
  margin-top: 6.4%;
  margin-bottom: 4%;
}

.events__text__title {
  margin-bottom: 6px;
  width: 100%;
}

.events__pagination {
  width: 107%;
}

.events__contentCart {
  min-height: 684px;
}

/*project*/

.project__content__title {
  font-size: 28px;
  line-height: 38px;
  margin-left: 4.7%;
  margin-bottom: 3.8%;
  margin-top: 8.8%;
}

.project__content__descr {
  margin-left: 4.5%;
  padding-right: 0;
  width: 85%;
}

.project__partner {
  font-size: 18px;
  line-height: 32px;
  margin-top: 6.1%;
  margin-left: 4.8%;
}

.project__swiper {
  height: 65px;
  margin-top: 11px;
  margin-bottom: 32px;
  margin-left: 19.2%;
  margin-right: 19.2%;
}

.project__btn__prev {
  top: -28px;
  left: -24px;
}

.project__btn__next {
  top: -28px;
  right: -37px;
}

.projects-swiper-main {
  padding: 0 37px;
}

.projects-slide {
  min-height: 65px;
}

.projects-slide__image1 {
  width: 105px;
  height: 26px;
}

.projects-slide__image2 {
  width: 141px;
  height: 24px;
}

.projects-slide__image3 {
  width: 117px;
  height: 27px;
}

.projects-slide__image4 {
  width: 53px;
  height: 37px;
}

.projects-slide__image5 {
  width: 75px;
  height: 37px;
}

.projects-slide__image6 {
  width: 124px;
  height: 30px;
}

.projects-slide__image7 {
  width: 80px;
  height: 35px;
}

.projects-slide__image8 {
  width: 109px;
  height: 30px;
}

.projects-slide__image8 {
  width: 109px;
  height: 30px;
}

/*form*/

.form__container {
  border: none;
}

.form__content__title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 0.1%;
}

.form__contents__text {
  margin-left: 4.1%;
  margin-top: 4.5%;
}

.form__content__descr {
  margin-top: 1.3%;
  margin-left: 0.2%;
}

.form__information {
  margin-left: 0;
  width: 93%;
}

.form__input__container {
  width: 91%;
  margin-bottom: 4%;
}

.form__child__name {
  width: 86%;
  height: 13px;
}

.form__child__number {
  width: 87%;
  height: 13px;
  margin-left: 1%;
}

.form__low__container {
  margin-bottom: 9%;
}

.form__small__btn {
  font-family: "OpenSans";
  width: 43%;
  padding: 10px 35px;
  margin-top: 6%;
}

.form__social__link {
  margin-left: -2.7%;
  margin-top: 2.7%;
  letter-spacing: -0.5px;
}

.form__social__title {
  font-size: 18px;
  line-height: 32px;
}

.form__icon {
  width: 50px;
  height: 50px;
}

.form__social__icon {
  margin-bottom: 5.5%;
  margin-top: 2.8%;
  margin-left: 1.8%;
}

.form__link__telegram {
  margin-left: 7%;
}

.form__content__btn {
  display: none;
}

.map {
  width: 100%;
  height: 320px;
}

/*footer*/

.footer__container {
  flex-direction: column-reverse;
  padding-top: 6%;
  padding-left: 0%;
}

.footer__social__page {
  width: 50px;
  height: 50px;
}

.social__link {
  width: 50px;
  height: 50px;
}

.footer__social__vk {
  margin-right: 32%;
}

.footer__logo {
  margin-top: 3.1%;
  margin-left: 34%;
  margin-bottom: 4%;
}
}