.project__page_one {
    background-image: url(../img/project__one.png);
}

.project__page_one:focus {
    background-image: url(../img/project__one__one.png);
    border: 1px solid var(--grey--btn);
    cursor:pointer;
}

.project__page_one:active {
    background-image: url(../img/project__one__one.png);
    border: 1px solid var(--violet);
    cursor:pointer;
}

.project__page_two {
    background-image: url(../img/project__two.png);
}

.project__page_two:focus {
    background-image: url(../img/project__two__two.png);
    border: 1px solid var(--grey--btn);
    cursor:pointer;
}

.project__page_two:active {
    background-image: url(../img/project__two__two.png);
    border: 1px solid var(--violet);
    cursor:pointer;
}

.project__page_three {
    background-image: url(../img/project__three.png);
}

.project__page_three:focus {
    background-image: url(../img/project__three__three.png);
    border: 1px solid var(--grey--btn);
    cursor:pointer;
}

.project__page_three:active {
    background-image: url(../img/project__three__three.png);
    border: 1px solid var(--violet);
    cursor:pointer;
}

.project__page_four {
    background-image: url(../img/project__four.png);
}

.project__page_four:focus {
    background-image: url(../img/project__four__four.png);
    border: 1px solid var(--grey--btn);
    cursor:pointer;
}

.project__page_four:active {
    background-image: url(../img/project__four__four.png);
    border: 1px solid var(--violet);
    cursor:pointer;
}

.project__page_five {
    background-image: url(../img/project__five.png);
}

.project__page_five:focus {
    background-image: url(../img/project__five__five.png);
    border: 1px solid var(--grey--btn);
    cursor:pointer;
}

.project__page_five:active {
    background-image: url(../img/project__five__five.png);
    border: 1px solid var(--violet);
    cursor:pointer;
}

.project__page_six {
    background-image: url(../img/project__six.png);
}

.project__page_six:focus {
    background-image: url(../img/project__six__six.png);
    border: 1px solid var(--grey--btn);
    cursor:pointer;
}

.project__page_six:active {
    background-image: url(../img/project__six__six.png);
    border: 1px solid var(--violet);
    cursor:pointer;
}

.project__page_seven {
    background-image: url(../img/project__seven.png);
}

.project__page_seven:focus {
    background-image: url(../img/project__seven__seven.png);
    border: 1px solid var(--grey--btn);
    cursor:pointer;
}

.project__page_seven:active {
    background-image: url(../img/project__seven__seven.png);
    border: 1px solid var(--violet);
    cursor:pointer;
}

.project__page_eight {
    background-image: url(../img/project__eight.png);
}

.project__page_eight:focus {
    background-image: url(../img/project__eight__eight.png);
    border: 1px solid var(--grey--btn);
    cursor:pointer;
}

.project__page_eight:active {
    background-image: url(../img/project__eight__eight.png);
    border: 1px solid var(--violet);
    cursor:pointer;
}

.project__page_nine {
    background-image: url(../img/project__nine.png);
}

.project__page_nine:focus {
    background-image: url(../img/project__nine__nine.png);
    border: 1px solid var(--grey--btn);
    cursor:pointer;
}

.project__page_nine:active {
    background-image: url(../img/project__nine__nine.png);
    border: 1px solid var(--violet);
    cursor:pointer;
}

/*item*/

.dropdown__item__one {
    background-image:url(../img/item__one.png);
  }

  .dropdown__item__one:active {
    background:linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__one.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__two {
    background-image:url(../img/item__two.png);
  }

  .dropdown__item__two:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__two.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__three {
    background-image:url(../img/item__three.png);
  }

  .dropdown__item__three:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__three.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__four {
    background-image:url(../img/item__four.png);
  }

  .dropdown__item__four:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__four.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__five {
    background-image:url(../img/item__one.png);
  }

  .dropdown__item__five:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__one.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__six {
    background-image:url(../img/item__two.png);
  }

  .dropdown__item__six:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__two.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__seven {
    background-image:url(../img/item__three.png);
  }

  .dropdown__item__seven:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__three.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__eight {
    background-image:url(../img/item__eight.png);
  }

  .dropdown__item__eight:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__eight.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__nine {
    background-image:url(../img/item__nine.png);
  }

  .dropdown__item__nine:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__nine.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__ten {
    background-image:url(../img/item__ten.png);
  }

  .dropdown__item__ten:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__ten.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__eleven {
    background-image:url(../img/item__eleven.png);
  }

  .dropdown__item__eleven:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__eleven.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__twalve {
    background-image:url(../img/item__eight.png);
  }

  .dropdown__item__twalve:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__eight.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__thirteen {
    background-image:url(../img/item__nine.png);
  }

  .dropdown__item__thirteen:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__nine.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__fourteen {
    background-image:url(../img/item__ten.png);
  }

  .dropdown__item__fourteen:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__ten.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__fifteen {
    background-image:url(../img/item__fifteen.png);
  }

  .dropdown__item__fifteen:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__fifteen.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__sixteen {
    background-image:url(../img/item__sixteen.png);
  }

  .dropdown__item__sixteen:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__sixteen.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__seventeen {
    background-image:url(../img/item__seventeen.png);
  }

  .dropdown__item__seventeen:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__seventeen.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__eighteen {
    background-image:url(../img/item__eighteen.png);
  }

  .dropdown__item__eighteen:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__eighteen.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__nineteen {
    background-image:url(../img/item__fifteen.png);
  }

  .dropdown__item__nineteen:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__fifteen.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__twenty {
    background-image:url(../img/item__sixteen.png);
  }

  .dropdown__item__twenty:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__sixteen.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__twentyOne {
    background-image:url(../img/item__seventeen.png);
  }

  .dropdown__item__twentyOne:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__seventeen.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__twentyTwo {
    background-image:url(../img/item__twentyTwo.png);
  }

  .dropdown__item__twentyTwo:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__twentyTwo.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__twentyThree {
    background-image:url(../img/item__twentyThree.png);
  }

  .dropdown__item__twentyThree:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__twentyThree.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__twentyFour {
    background-image:url(../img/item__twentyFour.png);
  }

  .dropdown__item__twentyFour:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__twentyFour.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__twentyFive {
    background-image:url(../img/item__twentyFive.png);
  }

  .dropdown__item__twentyFive:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__twentyFive.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__twentySix {
    background-image:url(../img/item__twentyTwo.png);
  }

  .dropdown__item__twentySix:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__twentyTwo.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__twentySeven {
    background-image:url(../img/item__twentyThree.png);
  }

  .dropdown__item__twentySeven:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__twentyThree.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__twentyEight {
    background-image:url(../img/item__twentyFour.png);
  }

  .dropdown__item__twentyEight:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__twentyFour.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__twentyNine {
    background-image:url(../img/item__twentyNine.png);
  }

  .dropdown__item__twentyNine:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__twentyNine.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__thirty {
    background-image:url(../img/item__thirty.png);
  }

  .dropdown__item__thirty:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__thirty.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__thirtyOne {
    background-image:url(../img/item__thirtyOne.png);
  }

  .dropdown__item__thirtyOne:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__thirtyOne.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__thirtyTwo {
    background-image:url(../img/item__thirtyTwo.png);
  }

  .dropdown__item__thirtyTwo:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__thirtyTwo.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__thirtyThree {
    background-image:url(../img/item__twentyNine.png);
  }

  .dropdown__item__thirtyThree:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__twentyNine.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__thirtyFour {
    background-image:url(../img/item__thirty.png);
  }

  .dropdown__item__thirtyFour:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__thirty.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  .dropdown__item__thirtyFive {
    background-image:url(../img/item__thirtyOne.png);
  }

  .dropdown__item__thirtyFive:active {
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)),
     url(../img/item__thirtyOne.png);
     background-repeat: no-repeat;
     background-size: cover;
     box-shadow: none;
     cursor: pointer;
  }

  /*catalog*/

  .catalog__image_one {
    background-image: url(../img/girlandayo.png);
  }

  .catalog__image_two {
    background-image: url(../img/Ambrogio-Lorenzetti.jpg);
  }

  .catalog__image_three {
    background-image: url(../img/Bissolo_Marriage_of_St._Catherine.jpg);
  }

  .catalog__image_four {
    background-image: url(../img/boltraffio.jpg);
  }

  .catalog__image_five {
    background-image: url(../img/francescko.jpg);
  }

  .catalog__image_six {
    background-image: url(../img/catalog__img--none1920.jpg);
  }