html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::before,
::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

  :root {
    --white:#FFFFFF;
    --black:#000000;
    --violet:#9D5CD0;
    --paggination:#666666;
    --birthsday:#999999;
    --color__fonts:#333333;
    --focus__violet:#7943A4;;
    --hover__violet:#C283F3;
    --active__violet:#7943A4;
    --outline__color:#D1A9F0;
    --grey:#ECECEC;
    --grey--btn:#CACACA;
    --false:#D11616;
    --order:#C283F3;
  }

  ::-webkit-input-placeholder {
    color: var(--white);
  }
  input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
  input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

  .lock {
    overflow: hidden;
  }

  li {
    list-style: none;
    outline: none;
  } 

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  body {
    min-width: 100%;
    overflow-x:hidden;

    background: var(--white);
  }
  
  .flex {
    display: flex;
  }

  .container {
    min-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  /*header*/

  .header__contents {
    position: static;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 27px;
    padding-left: 50px;
    padding-right: 50px;
    height: 40px;
    background-color: var(--black);
  }

  .header__navigation {
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .header__logo {
    padding-left: 8.3%;
    margin-right: 7.6%;
  }

  .nav {
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .header__nav__items {
    min-width: 62px;
    height: 65%;
    text-align: center;
    margin-left: 1%;
    margin-right: 1.6%;
    background-color: var(--black);
  }

  .header__nav__items:nth-child(2) {
    margin-right: 2.5%;
  }

  .header__nav__items:nth-child(3) {
    margin-right: 2.4%;
  }

  .header__nav__items:nth-child(4) {
    margin-right: 2.8%;
  }

  .header__nav__items:nth-child(5) {
    margin-right: 2.8%;
  }

  .header__nav__items:last-child {
    margin-left: 26.9%;
    text-align: end;
  }

  .header__nav__item {
    padding: 2px 6px;
    font-family: "OpenSans";
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: var(--white);
  }

  .header__nav__item:focus  {
    background: var(--focus__violet);
    transition: .3s ease-in-out;
  }

  .header__nav__item:hover {
    color: var(--hover__violet);
    transition: .3s ease-in-out;
  }

  .header__nav__item:active {
    color: var(--active__violet);
    background: none;
    transition: .3s ease-in-out;
  }


  .header__nav__items:hover
  .header__office__icon {
    fill:var(--hover__violet);
    transition: 0.3s ease-in-out;
  }

  .header__nav__items:active
  .header__office__icon {
    fill:var(--active__violet);
    background: none;
    transition: 0.3s ease-in-out;
  }

  .header__office__link {
    position: relative;
    width: 100%;
    height: 28px;

    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: var(--white);
  }

  .header__office__icon {
    position: absolute;
    fill: white;
    left: -18%;
    top: 24%;
  }

  .burger {
    display: none;
  }
  .form-content--1920 {
    display: none;
  }

  /*hero*/

  .hero {
    position: relative;
  }

  .mySwiper {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .swiper__slide__image {
    min-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .swiper__slide__image_one {
    background-image: url(../img/swiper__page_one.png);
  }

  .swiper__slide__image_two {
    background-image: url(../img/swiper__page_two.png);
  }

  .swiper__slide__image_three {
    background-image: url(../img/swiper__page_three.png);
  }

  .hero__contents {
    position: relative;
    padding-top: 129px;
    padding-bottom: 144px;
    z-index: 2;
  }

  .hero__content__selects {
    min-width: 100%;
    height: 70px;
    position: absolute;
    z-index: 5;

    background: rgba(0, 0, 0, 0.5);
  }

  /*selector*/

  .dropdown {
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
  }
  .dropdown.dropdown__active {
    visibility: visible;
    opacity: 1;
    transition: 0.3s ease-in-out;
  }

  .dropdown.dropdown__active 
  .hero__arrow__icon {
    stroke: var(--active__violet);
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }

  .dropdown__simplebar {
    height: 240px;
    padding-right: 20px;
  }

  .dropdown__item {
    margin-bottom: 20px;
  }

  .dropdown__item__link {
    width: 100%;
    min-height: 30px;
    padding: 9px 14px;

    font-family: "OpenSans";
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;

    color: var(--white);
    text-align: left;
    background-color: rgba(0,0,0,0.8);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
  }
  
  .dropdown__simplebar .simplebar-track.simplebar-vertical {
    background-color: var(--black);
    width: 2px;
  }
  .dropdown__simplebar .simplebar-scrollbar {
    width: 2px;
    background-color: var(--white);
  }
 
  .dropdown__item__link:focus {
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px var(--violet) inset;
  }

  .dropdown__item__link:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px var(--violet) inset;
  }
  
  .hero__menu__list{
    min-width: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
  }

  .menu__item_impress {
    width: 12%;
  }

  .hero__menu__item {
    position: relative;
  }

  .hero__menu__item:nth-child(1) {
    margin-left: 7.4%;
  }

  .hero__menu__item:nth-child(2) {
    margin-left: 3.1%;
  }

  .hero__menu__item:nth-child(3) {
    margin-left: 1%;
  }

  .hero__menu__item:nth-child(4) {
    margin-left: 2.5%;
  }

  .hero__menu__item:nth-child(5) {
    margin-left: 2.9%;
  }

  .container__realism__btn {
    width: 123px;
  }

  .container__impress__btn {
    width: 200px;
  }

  .container__postImpress__btn {
    margin-left: 19%;
    width: 264px;
  }

  .container__avangard__btn {
    width: 148px;
    margin-left: 20%;
  }

  .container__futurism__btn {
    width: 150px;
    margin-left: 17%;
  }

  .hero__menu__btn {
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    background-color: transparent;
    border: none;
    color: var(--white);
  }

  .hero__arrow__icon {
    stroke: var(--white);
  }

  .hero__menu__btn:focus {
    background-color: var(--focus__violet);
    color: var(--white);
  }
  
  .hero__menu__btn:hover {
    color: var(--hover__violet);
    background:none;
  }

  .hero__menu__btn:hover
  .hero__arrow__icon {
    stroke: var(--hover__violet);
    transition: 0.3s ease-in-out;
  }

  .hero__menu__btn:active {
    color: var(--active__violet);
    background:none;
  }

  .hero__menu__btn:active
  .hero__arrow__icon {
    stroke: var(--active__violet);
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }

  .btn__active svg {
    stroke: var(--white);
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }

  /*hero__search*/

  .hero__input__search {
    margin-top: 21px;
    margin-left: 15.7%;
    position: relative;
  }

  .hero__input__icon {
    position: absolute;
    top: 6px;
    left: -2px;
  }

  .hero__input {
    width: 86%;
    position: relative;
    margin-left: 28px;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    outline: none;
    border: none;
    border-bottom: 1px solid var(--white);
    background: none;
    color: var(--white);
  }

  .hero__input:focus {
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid var(--hover__violet);
  }

  .hero__input:hover {
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid var(--hover__violet);
  }

  .hero__input:active {
    transition: 0.3s ease-in-out;
    opacity: 0.5;
    border-bottom: 1px solid var(--active__violet);
  }

  .hero__menu__item:last-child {
    text-align: end;
  }

  /*hero*/

  .hero__contents__text {
    width: 33%;
    margin-left: 8.5%;
  }
  
  .hero__content__title {
    padding-top: 4px;

    font-family: "OpenSans";
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;

    color: var(--white);
  }

  .hero__content__descr {
    width: 92%;
    margin-bottom: 17.7%;
    margin-top: -1px;
    margin-left: -1px;

    font-family: "OpenSans";
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;

    color: var(--white);
  }

  .hero__container__btn {
    width: 49%;
    height: auto;
    border-radius: 100px;
  }

  .hero__content__btn {
    padding: 22px 33px;
    position: relative;

    font-family: "OpenSans";
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color:var(--white);
    border-radius: 100px;
    background-color: var(--violet);
  }

  .hero__content__btn::after {
    content: ' ';
    position: absolute;
    left: 50%;
    top: -11.7%;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border: 2px solid var(--outline__color);
    border-radius: 100px;
    opacity: 0;
    transform: translate(-50%);
    transition: 0.3s ease-in-out;
  }

  .hero__content__btn:focus::after {
    display: none;
  }

  .hero__content__btn:focus {
    background-color: var(--violet);
    border: 2px solid var(--outline__color);
  }

  .hero__content__btn:hover::after {
    opacity: 1;
  } 

  .hero__content__btn:active {
    background-color: var(--active__violet);
  }

  .hero__swiper__btn {
    display: none;
  }

  .hero__swiper__pagination {
    display: none;
  }

  /*aboutUs*/
  .aboutUs__container {
    margin-bottom: 3.7%;
  }

  .aboutUs__content__title {
    margin-top: 4.1%;
    margin-left: 8.3%;
    letter-spacing: 0.7px;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
  }

  .aboutUs__content__descr {
    width: 56%;
    margin-top: 1%;
    margin-left: 8.3%;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  /*gallery*/

  .gallery__container {
    background-image: url(../img/background_gallery.png);
    background-size: cover;
    width: 100%;
    min-height: 100%;
  }

  .gallery__container__contents {
    margin-left: 8.4%;
    padding-top: 4.1%;
    width: 36%;
    flex-direction: column;
  }

  .gallery__content__title {
    margin-bottom: 4.1%;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;

    color: var(--white);
  }

  .gallery__content__descr {
    margin-bottom: 9px;

    font-family: "OpenSans";
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;

    color: var(--white);
  }

 .choices {
  max-width: 400px;
  transition: background-color .2s ease;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one] .choices__inner {
  padding-left: 16px;
  width: 93.5%;
  padding-top: 9px;
}

.choices__inner {
  background-color: inherit;
  border-radius: 6px;
  border: 1px solid #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  font-family: 'OpenSans';
  color: #FFFFFF;
  transition: background-color .2s ease;
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__item:hover {
  color: #FFFFFF;
}

.choices:focus-visible {
  background-color: inherit;
}

.choices__list--dropdown {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: inherit;
  border: 1px solid #ddd;
  top: 100%;
  margin-top: -1px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: inherit;
}

.is-open .choices__inner {
  border-radius: 6px;
  border: 1px solid #FFFFFF;
}

.is-open .choices__list--dropdown {
  border: 1px solid #999999;
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: inherit;
}

.choices__list--dropdown .choices__item--selectable {
  transition: background-color .2s ease;
}

.choices__list--dropdown .choices__item--selectable:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item {
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 0px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'OpenSans';
  line-height: 32px;
  color: #999999;
  transition: color .2s ease, background-color .2s ease;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.choices__list--dropdown .choices__item:hover {
  color: #FFFFFF;
}

/* .choices__item--choice:first-child {
  display: none;
} */

.is-selected {
  display: none;
}

.choices__item--choice {
  background-color: rgba(0, 0, 0, 0);
}

.choices__list:focus-visible .choices__item {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
}

.choices[data-type*=select-one]:after {
  content: url('../img/select-arrow.svg');
  height: 0;
  width: 0;
  border-style: none;
  border-color: inherit;
  border-width: 0px;
  position: absolute;
  right: 26.5px;
  top: 50%;
  margin-top: -10.5px;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after {
  border-color: inherit;
  margin-top: 11px;
  transform: rotateX(180deg);
}

  .gallery__label__text {
    color: var(--white);
  }

  .customCheckbox {
    opacity: 0;
  }

  .customCheckbox + label {
    cursor: pointer;
    position: relative;
    margin-left: 6px;
    top: -4px;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: var(--white);
  }

  .customCheckbox + label::target-text {
    letter-spacing: 0.5px;
  }

  .customCheckbox + label:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: -25px;
    top: 5px;

    border: 1px solid var(--white);
    background: none;
  }

  .customCheckbox:checked + label:before {
    content: '';
    background: url(../img/Ellipse\ 16.svg) no-repeat center;
    border: 1px solid var(--violet);
  }

  .gallery__list__input:not(:last-child) {
    margin-bottom: 13px;
  }

  .gallery__list__input:focus
  .customCheckbox + label:before {
    border: 1px solid var(--hover__violet);
    transition: border 0.3s ease-in-out;
  }
  

  .gallery__list__input:hover 
  .customCheckbox + label:before {
    border: 1px solid var(--hover__violet);
    transition: border 0.3s ease-in-out;
  }

  .gallery__list__input:hover 
  .customCheckbox + label {
    color: var(--hover__violet);
    transition: 0.3s ease-in-out;
  }

  .gallery__list__input:active
  .customCheckbox + label {
    color: var(--hover__violet);
    transition: 0.3s ease-in-out;
  }

  .gallery__list__input:active
  .customCheckbox + label:before {
    border: 1px solid var(--hover__violet);
    background: url(../img/Ellipse\ 16.svg) no-repeat center;
  }
  
  .gallery__swiper__container {
    width: calc(1150 / 1600 * 100%);
    margin-right: 0;
    margin-top: 5.2%;
    margin-bottom: 5%;
  }

  /*gallery__navigation*/

  .gallery__btn__navigation {
    display: inline-flex;
    align-items: center;
    margin-bottom: 27px;
    margin-left: 69px;
    padding-left: 5px;
  }

  .gallery__nav__btn {
    position: relative;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: #527590;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .gallery__nav__btn::before {
    content: "";
    position: absolute;
    top: calc(50% - 7px / 2);
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    transform-origin: center;
  }
  
  .gallery__nav__btn.swiper-button-disabled {
    cursor: auto;
    background-color: rgba(102, 102, 102, 0.5);
  }

  .gallery__test__prev {
    margin-right: 17px;
    background-color: #666666;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  }

  .gallery__test__prev:focus-visible {
    outline: none;
    border: 2px solid #000000;
    border-radius: 100%;
  }

  .gallery__test__prev::before {
    left: calc(50% - 7px / 2);
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .gallery__test__prev:hover {
    background-color: #9D5CD0;
    transition: background-color 0.3s ease-in-out;
  }

  .gallery__test__prev:active {
    background-color: #7943A4;
    border: 2px solid #000000;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  .gallery__pagination {
    font-family: "OpenSans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
  }

  .gallery__test__next {
    margin-left: 20px;
    background-color: #666666;
    transition: background-color 0.3s ease-in-out;
  }

  .gallery__test__next:hover {
    background-color: #9D5CD0;
    transition: background-color 0.3s ease-in-out;
  }

  .gallery__test__next:active {
    background-color: #7943A4;
    border: 2px solid #000000;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  .gallery__test__next:focus-visible {
    outline: none;
    border: 2px solid #000000;
    border-radius: 100%;
  }

  .gallery__test__next::before {
    left: calc(50% - 7px / 2);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  /*gallery__swiper*/

  .gallery__slides__container {
    overflow: hidden;
    margin-right: 11.5%;
    margin-left: 5%;
    height: 89%;
  }

  .gallery__swiper__slide {
    position: relative;
    overflow: hidden;
    background-color: #926B88;
  }

  .gallery__swiper__slide:focus {
    border: 3px solid var(--active__violet);
  }

  .gallery__swiper__slide:active {
    border: none;
  }
  
  .gallery__swiper__slide::before {
    content: "";
    position: relative;
    z-index: 1;
    display: block;
    padding-top: calc(100% - 6px);
    box-sizing: border-box;
    transition: background-color .3s ease, border-color .3s ease;
  }
  
  .gallery__swiper__slide::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../img/gallery__hover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    transition: opacity .5s ease;
  }
  
  .gallery__swiper__slide:hover::after {
    cursor: pointer;
    opacity: 1;
  }
  
  .gallery__swiper__slide:focus {
    outline: none;
  }
  
  .gallery__swiper__slide:focus::before {
    border-color: #7943A4;
  }
  
  .gallery__swiper__slide:active::before {
    border-color: #D1A9F0;
    background-color: rgba(194, 131, 243, 0.4);
  }

  .gallery__swiper__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*gallery__information__page*/

  .gallery__information__page {
    padding: 0;
    position: absolute;
    display: none;
    z-index: 100;
    left: 42.8%;
    top: 191%;
    width: 45%;

    transition: opacity .3s ease-in-out;
    background-color: var(--white);
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  }

  .gallery__information__icon {
    margin-top: 20px;
    margin-left: 94%;

    fill: var(--black);
  }

  .gallery__information__icon:hover {
    fill: var(--violet);
  }

  .gallery__information__icon:focus {
    fill: var(--violet);
  }

  .gallery__information__icon:active {
    fill: var(--active__violet);
  }

  .gallery__information__text {
    margin-left: 49px;
    width: 77%;
  }

  .gallery__information__title {
    margin-top: 85px;

    font-family: "OpenSans";
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: var(--color__fonts);
  }

  .gallery__information__namePicture {
    margin-top: 5px;

    font-family: "OpenSans";
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: var(--color__fonts);
  }

  .gallery__information__date {
    margin-bottom: 39px;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: var(--birthsday);
  }

  .gallery__information__descr {
    margin-bottom: 121px;
    width: 85%;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: var(--birthsday);
  }

  .active.gallery__information__page {
    display: flex;
}

/*catalog*/

.catalog__artist__none {
  width: 100%;
  height: 100%;
}

.catalog__artist__medium {
  display: none;
}

.catalog__content__title {
    margin-top: 4.1%;
    margin-left: 8.3%;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;

    color: var(--black);
}

.catalog__content__descr {
    margin-top: 0.9%;
    margin-left: 8.3%;
    width: 58%;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: var(--black);
}

.catalog__content__box {
    display: none;
}

.catalog__content__box--active {
    display: block;
}

.catalog__content__image {
  margin-top: 3.9%;
  margin-left: 16.6%;
}

.catalog__content__autor {
    margin-left: 16.3%;
}

.catalog__date .catalog__accordion__title {
  transition: color .3s ease, background-color .3s ease;
}

.catalog__date:focus-visible {
  outline: none;
}

.catalog__date:focus-visible .catalog__accordion__title {
  color: #FFFFFF;
  background-color: #9D5CD0;
}

.catalog__date svg path:nth-child(1) {
  transition: fill 0.3s ease-in-out;
}

.catalog__date:focus-visible svg path:nth-child(1) {
  fill: #D1A9F0;
}

.catalog__cart__title {
    margin-top: 3.9%;
    margin-left: 3px;

    font-family: "OpenSans";
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: var(--black);
}

.catalog__cart__birthday {
    margin-top: 1%;
    margin-left: 1%;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: var(--birthsday);
}

.catalog__cart__descr {
    width: 93%;
    margin-top: 1.6%;
    margin-left: 3px;

    font-family: "OpenSans";
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: var(--black);
}

.catalog__cart__descr_none {
  margin-bottom: 15px;
}

.catalog__contents__cart {
  width: 50%;
}

.catalog__image {
  width: 94%;
  height: 470px;
  background-size: cover;
}

.catalog__contents__accordion {
    padding: 0;
    width: 41.5%; 
}

.accordion__last__icon {
  margin-left: 80%;
}

.catalog__accordion__items {
    margin-top: 4.8%;
}

.catalog__accordion__title {
  width: 50%;
  height: 32px;
  padding-left: 0px;

  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  color: var(--black);
}

.catalog__last__accordion__title {
  width: 14%;
}

.catalog__accordion__item {
  cursor: pointer;
}

.catalog__accordion__item:last-child {
  border-bottom: 1px solid var(--birthsday);
}


.catalog__accordion__item:hover .ui-accordion-header {
  border-color: #7943A4;
}

.ui-accordion .ui-accordion-header {
  margin: 0;
    margin-top: 0px;
  padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
  display: flex;
  border-top: 1px solid #CACACA;
    border-top-color: rgb(202, 202, 202);
  border-bottom: 1px solid #CACACA;
  padding-top: 40px;
  padding-bottom: 40px;
  cursor: pointer;
  position: relative;
  font-size: 100%;
  transition: border-color .2s linear;
}

.ui-accordion .ui-accordion-content {
  padding: 28px 0px;
  border-top: 1px solid #7943A4;
  overflow: initial;
  font-family: 'OpenSans', sans-serif;
}

.catalog__accordion__item svg {
  position: absolute;
  right: -3px;
  top: 50%;
  margin-top: -26px;
  transition: transform .3s;
}

.catalog__accordion__item svg path:nth-child(1) {
  transition: fill 0.3s ease-in-out;
}

.catalog__accordion__item:focus svg path:nth-child(1) {
  fill: #D1A9F0;
}

.catalog__accordion__item:hover svg path:nth-child(1) {
  fill: #D1A9F0;
}

.ui-accordion-header-active svg {
  margin-top: -22px;
  transform: rotate(180deg);
  border: 2px solid #9D5CD0;
  border-radius: 100%;
}

.ui-accordion-header-active svg path:nth-child(1) {
  fill: #D1A9F0;
  border: 2px solid #9D5CD0;
  border-radius: 100%;
}

.catalog__accordion__item:focus
.catalog__accordion__title{
  color: var(--white);
  background-color: var(--violet);
  transition: 0.3s ease-in-out;
}


.catalog__accordion__item:hover
.catalog__accordion__title{
  transition: 0.3s ease-in-out;
  color: var(--violet);
  background: none;
}

.catalog__accordion__item:active
.catalog__accordion__title{
  transition: 0.3s ease-in-out;
  color: var(--active__violet);
}

.catalog__accordion__delir {
  display: flex;
}

.catalog__artist {
  margin-right: 7.5%;
}

.catalog__artist_two {
  margin-right: 8.8%;
}

.artist {
  height: 32px;

  color: var(--color__fonts);
}

.catalog__artist__btn {
  padding: 0;
  width: auto;
  text-align: start;

  font-family: "OpenSans";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  color: var(--color__fonts);
  border: none;
  background-color: var(--white);
  border-bottom: 1px solid var(--white);
}

.catalog__artist__btn:focus {
  background-color: var(--violet);
  transition: 0.3s ease-in-out;
}

.catalog__artist__btn:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid var(--violet);
}

.catalog__artist__btn:active {
  cursor: pointer;
  background-color: var(--white);
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid var(--white);
  border: none;
}

.accordion__bottom {
  padding-bottom: 20px;
  line-height: 2;
}

.none {
  align-items: center;
}

.none__left {
  margin-right: 24px;
  margin-top: 24px;
  width: 251px;
  height: 165px;
}

.none__img {
  border: 2px solid #B7B7B7;
  padding: 6px;
  width: 94%;
  height: 92%;
}

.none__right {
  flex-direction: column;
}

.none__title {
  margin: 0;
  margin-bottom: 5px;

  font-family: "OpenSans";
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.none__descr {
  margin: 0;
  margin-bottom: 5px;
  width: 55%;

  font-family: "OpenSans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.catalog__none__link {
  font-family: "OpenSans";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
  width: 84px;
  transition: color .2s linear, background-color .2s linear, opacity .2s linear;
}

.catalog__none__link:hover {
  color: #C283F3;
}

.catalog__none__link:focus-visible {
  outline: none;
  background-color: #7943A4;
  color: #FFFFFF;
}

.catalog__none__link:active {
  opacity: 0.7;
}

/*events*/

.events__content__title {
  margin-left: 8.3%;
  margin-top: 4.2%;

  font-family: "OpenSans";
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.events__swiper {
  margin-top: 1%;
  margin-left: 7.5%;
  margin-right: 6.5%;
  padding-left: 1.3%;
  padding-right: 1%;
  min-height: 100%;
}



.events__pagination {
  display: none;
}

.events__contentCart {
  width: 96.6%;
  margin-bottom: 60px;
  margin-right: 50px;
}

.events__image {
  width: 100%;
  background-size: cover;
}

.events__contentCart__text {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: -3px;
  min-height: 400px;
  padding: 13px 19px 25px 49px;
  border: 1px solid #cacaca;
  border-top: none;
}

.events__contentCart__location {
  margin-bottom: 5px;

  font-family: 'OpenSans';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;

  color: var(--birthsday);
}

.events__text__adress {
  width: 40%;
  margin-bottom: 14px;

  font-family: "OpenSans";
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  color: var(--birthsday);
}

.events__adress__two {
  width: 25%;
}

.events__text__title {
  margin-bottom: 0px;

  font-family: "OpenSans";
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: var(--color__fonts);
}

.events__title__three {
  width: 85%;
}

.events__text__descr {
  max-width: 400px;
  margin-bottom: 81px;

  font-family: "OpenSans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: var(--color__fonts);
}

.events__text__btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: auto;
  max-width: max-content;
  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--violet);
  transition-property: color, opacity;
  transition: .1s ease-in-out;
}

.events__text__btn:focus {
  transition: 0.3s ease-in-out;
  color: var(--white);
  background-color: var(--violet);
}

.events__text__btn:hover {
  transition: 0.3s ease-in-out;
  color: var(--active__violet);
}

.events__text__btn:active {
  transition: 0.3s ease-in-out;
  color: var(--color__fonts);
}

.events__text__btn::after {
  position: absolute;
  left: 0px;
  bottom: 4px;
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--violet);
}

.events__swiper__btn {
  position: relative;
}

.events__btn__next,
.events__btn__prev {
  opacity: 1;
  transition: opacity .2s linear;
}

.events__btn__next.swiper-button-disabled,
.events__btn__prev.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.events__btn__next {
  width: 50px;
  height: 50px;
  top: -348px;
  left: auto;
  right: -9px;
}

.events__btn__prev {
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
  top: -351px;
  left: -25px;
  right: auto;
}

.events__btn__next:hover svg path:nth-child(1) {
  fill: #D1A9F0;
  transition: fill 0.3s ease-in-out;
}

.events__btn__next:active svg {
  outline: 2px solid #9D5CD0;
  border-radius: 100%;
  transition: 0.0s ease-in-out;
}

.events__btn__prev:hover svg path:nth-child(1) {
  fill: #D1A9F0;
  transition: fill 0.3s ease-in-out;
}

.events__btn__prev:active svg {
  outline: 2px solid #9D5CD0;
  border-radius: 100%;
  transition: 0.0s ease-in-out;
}

.events__btn__next:focus-visible {
  outline: none;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
}

.events__btn__prev:focus-visible {
  outline: none;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
}

.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
  content: ' ';
}

.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
  content: ' ';
}

/*project*/

.project__container {
  margin-top: 4.4%;
  position: relative;
  padding-bottom: 4.5%;
}

.project__content__title {
  margin-bottom: 0.9%;
  margin-left: 8.4%;

  font-family: "OpenSans";
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;

  color: var(--color__fonts);
}

.project__content__descr {
  margin-left: 8.4%;
  width: 55%;

  font-family: "OpenSans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  color: var(--color__fonts);
}

.tippy-box {
  border-radius: 100%;
  background-color: var(--white);
  stroke: var(--black);
}

.tippy-box:focus {
  border-radius: 100%;
  background-color: var(--white);
  stroke: var(--black);
  cursor: pointer;
}

.tippy-box:hover {
  border-radius: 100%;
  background-color: var(--white);
  stroke: var(--black);
}

.tippy-box:active {
  border: none;
  stroke: var(--white);
  cursor: pointer;
}

.project__content__tooltip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid var(--violet);
  border-radius: 50%;
}

.project__content__tooltip:focus-visible {
  outline: none;
  background-color: var(--violet);
}

.project__content__tooltip:focus-visible .project__content__tooltip__image path {
  fill: var(--white);
}

.project__content__tooltip:hover:not(:focus-visible) {
  background-color: var(--outline__color);
}

.project__content__tooltip__image path {
  fill: var(--white);
}

.tippy-box[data-theme~='lilac'] {
  font-family: "OpenSans";
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: var(--violet);
  color: var(--white);
  border-radius: 10px;
}

.tippy-box[data-theme~='lilac'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: var(--violet);
}

.tippy-box[data-theme~='lilac'][data-placement^='bottom']>.tippy-arrow::before {
  border-bottom-color: var(--violet);
}

.tippy-box[data-theme~='lilac'][data-placement^='left']>.tippy-arrow::before {
  border-left-color: var(--violet);
}

.tippy-box[data-theme~='lilac'][data-placement^='right']>.tippy-arrow::before {
  border-right-color: var(--violet);
}

.project__content__link {
  padding: 2px 5px;
  color: var(--violet);
  border-bottom: 1px solid var(--white);
}

.project__content__link:focus {
  color: var(--white);
  background-color: var(--violet);
}

.project__content__link:hover {
  color: var(--violet);
  border-bottom: 1px solid var(--violet);
  transition: border-bottom 0.3s ease-in-out;
}

.project__content__link:active {
  background-color: var(--white);
  color: var(--active__violet);
  border-bottom: 1px solid var(--active__violet);
}

.project__partner {
  margin-top: 1.1%;
  margin-left: 8.3%;
  margin-bottom: 1%;

  font-family: "OpenSans";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

/*project__slider*/

.projects-swiper-main {
  position: relative;
  padding: 0 75px;
  margin-left: 8.3%;
  margin-right: 8.3%;
}
                      
.projects-swiper {
  margin: 0 auto;
}
                      
.projects-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border: 1px solid #cacaca;
  transition-property: filter, opacity, border;
  transition: .2s ease-in-out;
}
                      
.projects-slide:focus-visible {
  outline: none;
  border: 1px solid var(--focus__violet);
}
                      
.projects-slide:hover:not(:focus-visible) .projects-slide__image {
  filter: grayscale(0);
  opacity: 1;
}
                      
.projects-slide:active:not(:focus-visible) {
  border: 1px solid var(--focus__violet);
}
                      
.projects-slide:active:not(:focus-visible) .projects-slide__image {
  filter: grayscale(0);
  opacity: 1;
}
                      
.projects-slide__image {
  padding: 0 10px;
  filter: grayscale(1);
  opacity: .4;
  transition-property: filter, opacity;
  transition: .2s ease-in-out;
}
                      
.projects-swiper-btns {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
                      
.projects-prev,
.projects-next {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: #ececec;
  background-repeat: no-repeat;
  background-position: center;
  transition-property: border, background-color, opacity;
  transition: .2s ease-in-out;
}
                      
.projects-prev {
  background-image: url(../img/arrow-prev.svg);
}
                      
.projects-next {
  background-image: url(../img/arrow-next.svg);
}
                      
.projects-prev:focus-visible,
.projects-next:focus-visible {
  outline: none;
  border: 2px solid var(--focus__violet);
}
                      
.projects-prev:hover:not(:focus-visible),
.projects-next:hover:not(:focus-visible) {
  background-color: var(--hover__violet);
}
                      
.projects-prev:active:not(:focus-visible),
.projects-next:active:not(:focus-visible) {
  border: 2px solid var(--focus__violet);
  background-color: var(--hover__violet);
}
                      
.projects-prev.swiper-button-disabled,
.projects-next.swiper-button-disabled {
  opacity: .3;
}
                      
.projects-prev.swiper-button-disabled:hover,
.projects-next.swiper-button-disabled:hover {
  opacity: .3;
  cursor: not-allowed;
  background-color: #ececec;
}

/*form*/

.form__container {
  border: 1px solid var(--birthsday);
}

.form__contents__text {
  margin-top: 2.2%;
  margin-bottom: 2.2%;
  margin-left: 8.3%;
}

.form__content__title {
  font-family: "OpenSans";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.form__content__descr {
  font-family: "OpenSans";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.form__low__container {
  width: 64%;
}

.form__information {
  margin-left: 4%;
  width: 48%;
  padding-bottom: 2.5%;
  padding-right: 2%;
}

.form__input__container {
  width: 47%;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 5px;
}

.form__child__name {
  width: 78%;
  padding: 12px 25px;
  height: 25%;

  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  border: 1px solid var(--color__fonts);
  border-radius: 100px;
}

.form__child__name::placeholder, .form__child__number::placeholder {
  color: var(--birthsday);
}

.just-validate-error-label {
  padding-left: 27px;
  font-family: 'OpenSans';
}

.form__child__number {
  width: 80%;
  height: 25%;
  margin-left: 1.5%;
  margin-right: 2%;

  font-family: 'OpenSans';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  padding: 12px 25px;
  border: 1px solid var(--color__fonts);
  border-radius: 100px;
}

.form__content__btn {
  padding: 10px 35px;
  margin-left: -8px;
  min-height: 50%;
  margin-top: 50px;
  cursor: pointer;

  font-family: "OpenSans";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  border-radius: 100px;
  color: var(--violet);
  border-color: var(--violet);
  background-color: var(--white);
}

.form__content__btn:hover {
  background-color: var(--hover__violet);
  color: var(--white);
  border: 1px solid var(--white);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.form__content__btn:active {
  color: var(--active__violet);
  border: 1px solid var(--active__violet);
  background-color: var(--white);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.form__social__link {
  width: 16%;
  margin-left: 1%;
}

.form__social__title {
  margin-top: 12%;
  margin-left: 5%;

  font-family: "OpenSans";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  
  color: var(--color__fonts);
}

.form__social__icon {
  margin-top: 2.5%;
  margin-left: 5%;
} 

.form__link__telegram {
  margin-left: 7%;
}

.form__focus__link:focus
.form__icon {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.form__focus__link:hover
.form__icon {
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.form__focus__link:active
.form__icon {
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.form__input__hover {
  position: relative;
  outline: none;
}

.form__input__hover:focus {
  background-color: none;
  transition: background-color 0.3s ease-in-out;
}

.form__input__hover:hover {
  cursor: pointer;
  background-color: var(--grey);
  transition: background-color 0.3s ease-in-out;
}

.form__input__hover:active {
  background-color: var(--grey);
  transition: background-color 0.3s ease-in-out;
}

.just-validate-error-field {
  border: 1px solid var(--false);
  background: none;
}

.form__small__btn {
  display: none;
}

/*map*/

.map {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.map__cart {
  display: none;
}

/*footer*/

.footer__title {
  display: none;
}

.footer__container {
  height: 108px;
  padding-top: 1.8%;
  padding-left: 8.1%;
  min-width: 91%;
  
  background-color: var(--black);
}

.footer__logo {
  margin-top: 1%;
}

.footer__social__link {
  margin-left: 74.8%;
  margin-top: 0.8%;
}

.footer__social__ok {
  margin-left: 21%;
}

.footer__social__page {
  fill: var(--grey--btn);
}

.footer__page__link:focus 
.footer__social__page {
  fill: var(--white);
  transition: fill 0.3s ease-in-out;
}

.footer__page__link:hover
.footer__social__page {
  fill: var(--white);
  cursor: pointer;
  transition: fill 0.3s ease-in-out;
}

.footer__page__link:active
.footer__social__page {
  cursor: pointer;
  fill: var(--violet);
  transition: fill 0.3s ease-in-out;
}